<div *ngIf="loading" class="top-text">Welcome to Tram Departures</div>
<div *ngIf="error" class="error">{{ error }}</div>

<table *ngIf="departures.length > 0" class="tram-table">
  <thead class="tram-table__thead">
    <tr class="tram-table__thead__trow">
      <th>Destination</th>
      <th>Direction</th>
      <th>Scheduled Time</th>
      <th>Expected Time</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody class="tram-table__tbody">
    <tr *ngFor="let dep of departures" class="tram-table__tbody__trow">
      <td>{{ dep.destination }}</td>
      <td>{{ dep.direction }}</td>
      <td>{{ dep.scheduled  }}</td>
      <td>{{ dep.expected  }}</td>
      <td>{{ dep.state }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="departures.length === 0 && !loading && !error" class="empty-data">
  No departures available right now.
</div>
